{% extends "_base.html" %}

{% block content %}
    <h2>Login</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }} <div>
            {{ form.username.label }}<br>
            {{ form.username(size=30) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=30) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        <br>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <br>
    <p>Need an account? <a href="{{ url_for('auth.register') }}">Register here</a></p> {# Change 'register' to 'auth.register' #}
    {% endblock content %}