{% extends "_base.html" %}

{% block content %}
    <h2>Reset Your Password</h2>
    <p>Please enter your new password below.</p>
    {# Pass token in action URL or hidden field if needed, but POSTing to current URL should work #}
    <form method="POST" action=""> 
        {{ form.hidden_tag() }}
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=30) }}<br>
            {% for error in form.password.errors %}
                 <span class="form-error">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=30) }}<br>
            {% for error in form.confirm_password.errors %}
                 <span class="form-error">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock content %}